@model IEnumerable<ProjetoBiblioteca.Models.Editoras>

<link href="~/css/index.css" rel="stylesheet" />
<h2>Editoras</h2>
<a asp-action="Criar" class="btn">Cadastrar Editora</a>
<br/>

<table class="tbl tbl-table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Data de cadastro</th>
        </tr>
    </thead>
    <tbody>
        
        @foreach (var editoras in Model)
        {
            <tr>
                <td>@editoras.Id</td>
                <td>@editoras.Nome</td>
                <td>@editoras.Criado_Em</td>
                <td>
                    <div class="acoes">

                        <form asp-action="Editar" method="get">

                            <input type="hidden" name="id" value="@editoras.Id" />

                            <button type="submit" class="btn btn-editar">Editar</button>

                        </form>

                        <form asp-action="Excluir" method="post" onsubmit="return confirm('Excluir este livro?');">

                                @Html.AntiForgeryToken()

                            <input type="hidden" name="id" value="@editoras.Id" />

                            <button type="submit" class="btn btn-excluir">Excluir</button>

                        </form>
                    </div>
                </td>

            </tr>
            
        }
    </tbody>
</table>

